
@media (min-width: 992px) and (max-width: 1200px){ 
  .block_top_item .block_title a {
     font-size: 15px;
  }
  .block_top_item .thumb_sub_title a {
      font-size: 13px;
      padding: 8px 15px;
  }
}

@media (min-width: 991px) and (max-width: 1080px){ 
  .uranus.tparrows {
      display: none;
  }  
}
@media (min-width: 768px) and (max-width: 991px){ 
  .article_item_thumb_parent {
    width: 35%;
}
  .first_news_right span {
      display: none;
  } 
  .sidebar_box {
      padding: 20px 20px;
  }  
 .quick_sub_menu li a {
    padding: 15px 20px;
  }
   
}


@media (min-width: 991px) { 
  /* MOBILE MENU */
  body #offcanvas{display:none}
  
}

@media (min-width:767px) {

}
@media (min-width:480px) and (max-width: 767px) {
  .block_top .col-xs-12 {
      width: 50%;
  }


}
@media (min-width:440px) and (max-width: 767px) {

  .footer_widget .col_xs_50p{
    width: 50%;
  }
}
@media (min-width:440px) and (max-width: 640px) {
  .block_top_item .thumb_sub_title a {
      font-size: 13px;
      padding: 8px 15px;
  }

}

.block_top_item .thumb_sub_title a {
    font-size: 13px;
    padding: 8px 10px;
}

@media (min-width:440px) and (max-width: 480px) {
  .block_top_item .block_title a {
      font-size: 13px !important;
  }

}





@media(max-width:1200px){
  .award_item_parent {
      padding: 0 15px;
  }  
  .menu>ul>li {
      margin-right: 20px;
  }
}
@media(max-width:1024px){


}
@media(max-width:991px){
.more_detail_link_section {

    padding: 35px 15px;
}  
.more_detail_link_section_cell .main_button_1 {
    padding: 10px 15px;
    font-size: 14px;
}
.award_top.mission .award_top_left .award_quote {
    max-width: 100%;
}  
.award_top.mission .award_top_right {
    background-size: auto 90%;
}  
.summary_slider {
    padding: 0 85px 0 60px;
}

.award_top .tick_title {
    top: 15px;
    font-size: 15px;
    padding: 4px 25px;
}
.award_top .award_top_left .award_quote {
    padding: 60px 15px 20px 20px;
}
.award_top .award_top_left {
    background-size: 120px auto;
    background-position: 100% 55%;
}
.award_top .award_top_right:before {
    -webkit-transform: rotate(10deg) translateX(-65%) scale(2);
    -moz-transform: rotate(10deg) translateX(-65%) scale(2);
    -ms-transform: rotate(10deg) translateX(-65%) scale(2);
    -o-transform: rotate(10deg) translateX(-65%) scale(2);
    transform: rotate(10deg) translateX(-65%) scale(2);
}


.post_tright h2 a {
    font-size: 20px;
}
.post_tright h2 {
    margin: 0 0 20px 0;
}
.quick_sub_menu li a {
    font-size: 14px;
    padding: 10px 20px;    
}


.page_title_bg {
    background: none;
}
.gioithieupage .page_title {
    background: url(../assets/images/page_title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.lienhepage .page_title {
    background: url(../assets/images/contact_page_title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


  .sm_ve_bottom .post_tleft {
    vertical-align: bottom;
}

  /*HEADER*/
  header {
      height: 70px;
  }
  .logo_content a {
      line-height: 70px;
  }
  .logo_content img {
      width: 65px;
  }

  #site-header {
   
      height: 70px;
  }

  .search_top .form-control {
      width: 135px;
    }
  .search_top {
      float: left;
  }
  .national_flag {
      margin-left: 0;
  }
  .topbar {
      width: 280px;
      overflow: hidden;
      float: left;
      margin-left: 20px;
  }
  /* MOBILE MENU */
    body #offcanvas{display:none}
    body #offcanvas.active{display:block}
    .offcanvas-push {
      bottom: 0;
      overflow: hidden;
      position: relative;
      left: 0;
      top: 0;
      transform: translate3d(-320px, 0px, 0px);
      transition: all 0.5s ease 0s;
      -webkit-transform: translate3d(-320px, 0px, 0px);
      -moz-transform: translate3d(-320px, 0px, 0px);
      -o-transform: translate3d(-320px, 0px, 0px);
      -o-transition: all 0.5s ease 0s;     
      -moz-transition: all 0.5s ease 0s;     
      -webkit-transition: all 0.5s ease 0s;
    }
    #offcanvas {
      right: 0;
      margin: 0;
      position: absolute;
      top: 0;
      transform: translateX(370px);
      -webkit-transform: translateX(370px);
      -moz-transform: translateX(370px);
      -o-transform:translateX(370px);
      -o-transition: all 0.5s ease 0s;     
      -moz-transition: all 0.5s ease 0s;     
      -webkit-transition: all 0.5s ease 0s;
      width: 320px;
      z-index: 1000;
    }

    #offcanvas.active {
      transform: translateX(0px);
      transition: transform 0.5s ease 0s;
      -o-transition: transform 0.5s ease 0s;
      -moz-transition: transform 0.5s ease 0s;
      -webkit-transition: transform 0.5s ease 0s;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform:translateX(0px);
    }
    #offcanvas.active {
      right: 0;
      opacity: 1;
    }
    .wrapper-container{
      transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;     
      -moz-transition: all 0.5s ease 0s;     
      -webkit-transition: all 0.5s ease 0s;
    }

    /*   -------------------------------------------------------------------hnv fix */
    #offcanvas .navbar-nav li a{
      transition: all 0.6s ease 0s;
      -moz-transition: all 0.6s ease 0s;
      -webkit-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
    }
    #offcanvas .navbar-nav li a:hover {
     /* background-color: #fcfcfc;*/
      color: #ed1d24;
      transition: all 0.6s ease 0s;
      -moz-transition: all 0.6s ease 0s;
      -webkit-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
    }
    /* -------------------------------------------------------------------- */

    /*---canvas---*/
    .offcanvas-mainnav .navbar-nav.megamenu{margin:0;}

    #offcanvas {
      background:#212121;
      min-height: 100%;
      padding-bottom: 50px;
      height: auto;
    }

    #offcanvas .navbar-nav li a {
      color: #fff;
      display: block;
      font-size: 14px;
      padding: 15px 20px;
      text-decoration: none;
      -webkit-transition: color .25s ease-in-out 0s;
         -moz-transition: color .25s ease-in-out 0s;
          -ms-transition: color .25s ease-in-out 0s;
           -o-transition: color .25s ease-in-out 0s;
              transition: color .25s ease-in-out 0s;
     /* border-bottom: 1px solid #eee;*/
    }
	#offcanvas .navbar-nav li.active > h3 > a {
    	color: #ed1d24 !important;
	}
    #offcanvas .navbar-nav h3{margin:0;position: relative;}
    #offcanvas .navbar-nav h3 i{
      color: #fff;
      font-size: 20px;
      height: 45px;
      line-height: 45px; cursor: pointer;
      position: absolute;
      right: 2px;
      text-align: center;
      width: 45px;
      z-index: 9;
      -webkit-transition: all .25s;
         -moz-transition: all .25s;
          -ms-transition: all .25s;
           -o-transition: all .25s;
              transition: all .25s;
    }
  .arrow_carrot-right.arrow_carrot-down {
      transform: rotate(90deg) translateZ(0);
  }  
    #offcanvas .navbar-nav h3 i:hover {
      color: #ed1d24;
  }
    #offcanvas .navbar-nav ul{ width: 100% !important;}
    #offcanvas .navbar-nav li{
    	margin:0;
    	display: block;
      width: 100%;
    }
    #off-canvas-button{
      color: #fff;
      font-size: 20px;
     /* margin-right: 10px;
      margin-top: 15px;
      margin-bottom: 10px;*/
      padding: 15px 20px;
      position: relative;
      text-align: right;
     /* border-bottom: 1px solid #eee;*/
    }
    #off-canvas-button .off-canvas-nav {
      /*display: inline-block;*/
      height: 35px;
      line-height: 35px;
      text-align: center;
     /* width: 35px;*/
      cursor: pointer;}
    #off-canvas-button .off-canvas-nav i:hover{color:#ed1d24;}
    #off-canvas-button a{float:left;width: 115px;padding-left: 15px;}
    .off-canvas-nav span {
        float: left;
        display: inline-block;
        padding-top: 3px;
    }
    .off-canvas-nav i {
        font-size: 40px;
        vertical-align: bottom;
        display: inline-block;
        margin-right: -9px;
    }


}
@media (max-width:860px) {
  .uranus.tparrows {
      display: none;
  }
}





@media(max-width:767px){
.adv_search_form {
    padding: 15px;
}  
.article_item {
    padding: 20px;
}  
.news_post_main_content_bottom,
.news_post_main_content_top {
    padding: 20px;
}  
.sidebar_box {
    padding: 25px 20px;
}  
.page_content_post_pađing {
    padding: 30px 15px;
}  
.lienhepage_company_name {

    max-width: 60%;
}  
.award_top.mission .award_top_right {
    background: url(../assets/images/hand_hand.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 90%;
    padding-bottom: 0;
    height: 130px;
}  
.award_top.mission .award_top_left {
    width: 100%;
}  
.award_top.mission .award_top_left .award_quote {
    padding: 75px 15px 20px 20px;
}
.about_page_content_thumb.logo {
    padding: 50px 30px;
}  
.award_top.only_img .tick_title {
    top: 0;
}  
.award_img {
    padding-bottom: 30%;
}  
.page_content {
    margin-bottom: 50px;
}  
.award_top.mb_50 {
    margin-bottom: 30px !important;
} 

.award_item_parent {
    width: 50%;
}  
.award_top .award_top_right:before {
  display: none;
}
.award_top .award_top_left .award_quote {
    max-width: 100%;
    text-align: center;
    padding: 220px 30px 40px 30px;
}
.award_top .tick_title {
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;    
}
.award_top .tick_title {
    top: 25px;
}
.award_top .award_top_left {
    background-position: 50% 80px;
}

.award_top, .award_top .award_top_left, .award_top .award_top_right {
    display: block;
  }
.award_top .award_top_left {
    width: 100%;
}
.award_top .award_top_right {
    width: 100%;
    height: 0;
    padding-bottom: 40%;    





}


.post_tright h2 a {
    font-size: 18px;
}
.post_tright h2 {
    margin: 0 0 15px 0;
}  
.header-breadcrumb {
    min-height: 65px;
}
.header-breadcrumb ol.breadcrumb {

    padding-bottom: 10px;
    padding-top: 23px;
}  
.quick_sub_menu {
    position: relative !important;
}
.page_sidebar_position {
    padding-left: 15px;
}
.page_content_div {
    padding-right: 15px;
}

.horizontal_slider {
    width: 90%;
    margin: 0 auto;
}
.tp-bullet {
    width: 7px !important;
    height: 7px !important;
}
.block_top {
    margin: 15px 0 0 0;
}

}
@media(max-width:640px){
.article_item_thumb_parent {
    width: 35%;
}  
.lienhepage_company_name {
    max-width: 60%;
}    
.lienhepage_section>.container>.row {
    background: none;
}
.summary_slider .item .year_table,  
.summary_slider .item .year_arrow,
.summary_slider .item .year_arrow_padding {
    display: block;
}  

.summary_slider .horizontal_slider_div {
    padding: 100px 0 20px 0;
}  
.horizontal_slider {
    padding-bottom: 30px;
}  
.summary_slider {
    padding: 0 60px 0 60px;
}  
.summary_slider .item .year_arrow {

    display: none;
}  
  .first_news .first_news_right a,
  .block_top_item .block_title a {
     font-size: 15px;
  }
.post_tright {
    display: block;
    width: 100%;
}

.post_tleft {
    display: block;
    width: 100%;
}
}
@media(max-width:530px){


}
@media(max-width:480px){
.article_item_thumb_parent {
    width: 100%;
    margin-bottom: 15px;    
}
.article_item_right {
    padding-left: 0;
}
.article_item_thumb_parent, .article_item_right {
    display: block;
}
.article_item_thumb .thumbnail {
    padding-bottom: 56%;
}
.comment-noti {
    top: auto;
    bottom: 10px;

}  
.comment-textarea {
    padding-right: 15px;
    padding-bottom: 46px;
}
.news_post_main_content_bottom {
    padding: 20px 0;
}  
.award_top.only_img .tick_title {
    left: 0;
    transform: translateX(0);
    font-size: 14px;
    position: relative;
    background: #ed1d24 !important;
    color: #fff !important;
    box-shadow: none !important; 
}  
.award_top.mission .award_top_left .award_quote {
    padding: 100px 15px 20px 20px;
}  
.award_img {
    padding-bottom: 40%;
}  
.summary_slider {
    padding: 0 30px 0 30px;
}  
.award_item_parent {
    width: 100%;
}    
.first_news_right span {
    display: none;
}
.block_top {
    margin: 0;
}   
}
@media (max-width:440px){
.award_top.mission .award_top_left .award_quote {
    padding: 120px 15px 20px 20px;
}
  .copyright span {
      width: 100%;
      text-align: left;
  }
  .social_icon {
      margin: 0;
      width: 100%;
  }
  .social_icon li {
      float: left;
      padding: 0;
      margin: 0px 10px 5px 0px;
  }

  .social_icon li a {
      font-size: 25px;
      line-height: 30px;
  }  

}

