/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SegoeUI";
  src: url("fonts/segoeui.eot"); /* IE9 Compat Modes */
  src: url("fonts/segoeui.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/segoeui.otf") format("opentype"), /* Open Type Font */
    url("fonts/segoeui.svg") format("svg"), /* Legacy iOS */
    url("fonts/segoeui.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/segoeui.woff") format("woff"), /* Modern Browsers */
    url("fonts/segoeui.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}