
/*usePaging Css*/
.usePaging_page {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.usePaging_btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.usePaging_btns a {
    border: 1px solid #ddd;
    padding: 6px 14px;
    margin: 5px;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}
.usePaging_btns a.active {
    background-color: #57b5e3;
    border-color: #57b5e3;
    color: #fff;
}
.usePaging_btns a:hover {
    color: #57b5e3;
    border-color: #57b5e3;
}
.usePaging_btns a.active:hover {
  color: #fff;
}
.usePaging tbody tr:not(.current_page) {
    display: none;
}

.usePaging_btns .next_prev_btns.no_act {
    background: #fbfbfb;
    color: #999;
    pointer-events: none;
}
.usePaging_info,
.usePaging_info *,
.usePaging_btns .next_prev_btns {
    user-select: none;
}



/*CHECK TEXT*/
@font-face {
    font-family: "Taydam";
    src: url("https://minhkidong.github.io/chu-thai/fonts/NotoSerif-TaiViet.ttf");
    font-weight: normal;
}
.txt_taidam, .txt_input_item, .txt_input_item input{
    font-family: 'Taydam', sans-serif !important;
}
.txt_check_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_check_item .txt_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_check_item .txt_input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.txt_check_item .txt_input .txt_input_item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_check_item .txt_input .txt_input_item .form-control {
    width: 50px;
    text-align: center;
    height: 50px;
    padding: 0;
    line-height: 48px;
    border-radius: 3px;
    border-color: #ddd;
}
.txt_check_item .txt_info .txt_vi {
    font-weight: 500;
    font-size: 25px;
    margin: 5px 0;
    line-height: 1.4;
}
.txt_check_item .txt_info .txt_taidam {
    font-size: 30px;
    color: #8BC34A;
    margin: 5px 0;
    line-height: 1.4;
    display: none;
}
.txt_check_item {
    margin: 30px 0;
}
.txt_btn {
    margin: 10px 0;
}
.noti_span{
    margin-top: 5px;
    font-size: 12px;
}
.txt_check_items {
    width: 380px;
    margin: 0 auto;
}
.txt_check_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: center;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
body {
    background: #f2f2f2;
}
.txt_btn .check_result {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;    
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.txt_btn .check_result:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.txt_check_item .txt_info .txt_taidam.active {
    display: block;
}
/*UPDATE*/
.txt_check_item {
    display: none;
}
.txt_check_item.active{
    display: flex;
}
.txt_check_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}
.txt_check_filter #browsers_txt_taidam {
    display: inline-block;
    width: auto;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.txt_check_filter #browsers_txt_taidam:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.txt_check_filter .txt_clear_input {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* color: #fff; */
    /* background-color: #17a2b8; */
    /* border-color: #17a2b8; */
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.txt_check_filter .txt_clear_input:hover {
    color: #F44336;
    background-color: #fff;
    border-color: #F44336;
}
.txt_check_filter_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt_check_filter_content > * {
    margin: 5px;
}
.txt_check_filter label {
    text-transform: uppercase;
    font-weight: 500;
}
.txt_check_filter .txt_clear_input {
    cursor: pointer;
}